* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: rgba(20, 23, 43, 1);
}

:root {
  /* DIMENSION */

  /* coin-logo-container */
  --p1: 25px;
  --br1: 50px;

  /* coin-image */
  --w2: 50px;
}

.coin-logo-container {
  padding: var(--p1);
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-radius: var(--br1) var(--br1) var(--br1) var(--br1);
}

.bitcoinfill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );

  backdrop-filter: blur(50px);
}

.solanafill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(220, 31, 255, 0.1) 100%
  );

  backdrop-filter: blur(50px);
}

.etheriumfill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(237, 240, 244, 0.1) 100%
  );
  backdrop-filter: blur(50px);
}

.binancefill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
  backdrop-filter: blur(50px);
}

.shibafill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(228, 45, 4, 0.1) 100%
  );
  backdrop-filter: blur(50px);
}

.coin-image {
  display: block;
  margin: auto;
  width: var(--w2);
}

.property-tag {
  text-align: center;
}

.price-coantainer {
  display: block;
  text-align: center;
}

.price {
  display: inline;
}

.change {
  display: inline;
}

.tvl-container {
  text-align: center;
}

.picks-container {
  display: flex;
  width: 122px;
  height: 40px;
  margin: auto;
  background: #14172b;
  border-radius: 30px;
  justify-content: space-evenly;
}

.picks {
  width: 22px;
  vertical-align: middle;
}
