* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Tomorrow", sans-serif;
}

/* ################# */
/* # MOBILE LAYOUT # */
/* ################# */

:root {
  /* DIMENSION */

  /* coin-logo-container-1 */
  --p1: 13.325vw; /* 0.125 * var(--h9) */
  --br1: 26.65vw; /* 2 * var(--p1)*/

  /* coin-logo-container-2 */
  --p2: 6.416vw; /* 0.083 * var(--w9) */
  --br2: 12.832vw; /* 0.166 * var(--w9) */

  /* coin-image */
  --w3: 13.325vw; /* 0.125 * var(--h9) */

  /* picks-container */
  --w4: 32.543vw; /* 0.421 * var(--w9) */
  --h4: 10.66vw; /* 0.1 * var(--h9) */
  --br4: 21.32vw; /* 2 * var(--h4) */

  /* property-tag */
  --fw5: 600;
  --fs5: 3.198vw; /* 0.03 * var(--h9) */
  --lh5: 7.995vw; /* 0.075 * var(--h9) */

  /* picks */
  --w6: 5.863vw; /* 0.055 * var(--h9) */

  /* text-container-1 */
  --fw7: 600;
  --fs7: 4.264vw; /* 0.04 * var(--h9) */
  --lh7: 7.995vw; /* 0.075 * var(--h9) */
  --w7: 64.183vw; /* 0.83 * var(--w9) */
  --h7: 10.66vw; /* 0.1 * var(--h9) */
  --br7: 21.32vw; /* 2 * var(--h7) */

  /* positive negative */
  --fw8: 600;
  --fs8: 3.198vw; /* 0.03 * var(--h9) */
  --lh8: 7.995vw; /* 0.075 * var(--h9) */

  /* card */
  --h9: 106.6vw; /* indepedent parameter */
  --w9: 77.33vw; /* indepedent parameter */
  --m9: 13.1325vw; /* indepedent parameter */

  /* COLORS */
  --C1: rgba(20, 23, 43, 1); /* general-background */
  --C2: rgba(115, 123, 174, 1); /* font for property-value-tags */
  --c3: rgba(20, 23, 43, 1); /* background for cutouts */
  --c4: rgba(236, 240, 255, 1); /* font for big text */
  --c5: rgba(0, 255, 163, 1); /* font for positive change */
  --c6: rgba(255, 77, 77, 1); /* font for negative change */

  /* EXTRA PARAMS */
  --m_e_1: 5.33vw; /* 0.05 * var(--h9) */
  --m_e_2: 1.315vw; /* 0.017 * var(--w9) */
}

body {
  background: var(--C1);
}

.coin-logo-container-1 {
  /* padding: 1px; */
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-radius: var(--br1) var(--br1) var(--br1) var(--br1);
  background-image: linear-gradient(
    180deg,
    rgba(236, 240, 255, 0.1) 0%,
    rgba(59, 63, 87, 0) 100%
  );
}

.coin-logo-container-2 {
  padding: var(--p2);
  width: fit-content;
  height: fit-content;
  margin: auto;
  border-radius: var(--br2) var(--br2) var(--br2) var(--br2);
}

.bitcoinfill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
  backdrop-filter: blur(50px);
}

.solanafill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(220, 31, 255, 0.1) 100%
  );

  backdrop-filter: blur(50px);
}

.etheriumfill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(237, 240, 244, 0.1) 100%
  );
  backdrop-filter: blur(50px);
}

.binancefill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(234, 179, 0, 0.06) 100%
  );
  backdrop-filter: blur(50px);
}

.shibafill {
  background: linear-gradient(
    180deg,
    rgba(98, 106, 136, 0.1) 0%,
    rgba(228, 45, 4, 0.1) 100%
  );

  backdrop-filter: blur(50px);
}

.coin-image {
  display: block;
  margin: auto;
  width: var(--w3);
}

.price-coantainer {
  display: block;
  text-align: center;
}

.price {
  display: inline-block;
  vertical-align: middle;
}

.small-text {
  position: relative;
  left: 75%;
  bottom: 76%;
  width: 7ch;
}

.picks-container {
  display: flex;
  width: var(--w4);
  height: var(--h4);
  margin: auto;
  background: var(--c3);
  border-radius: var(--br4);
  justify-content: space-evenly;
}

.property-tag {
  text-align: center;
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: var(--fw5);
  font-size: var(--fs5);
  line-height: var(--lh5);
  color: var(--C2);
}

.picks {
  width: var(--w6);
  vertical-align: middle;
}

.bigtext {
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: var(--fw7);
  font-size: var(--fs7);
  line-height: var(--lh7);
  color: var(--c4);
}

.text-container-1 {
  display: block;
  width: var(--w7);
  height: var(--h7);
  text-align: center;
  align-items: center;
  background: var(--c3);
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: var(--fw7);
  font-size: var(--fs7);
  line-height: var(--lh7);
  color: var(--c4);
  margin: auto;
  border-radius: var(--br7) var(--br7) var(--br7) var(--br7);
}

.text-container-2 {
  display: flex;
  width: var(--w7);
  height: var(--h7);
  align-items: center;
  justify-content: center;
  background: var(--c3);
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: var(--fw7);
  font-size: var(--fs7);
  line-height: var(--lh7);
  color: var(--c4);
  margin: auto;
  border-radius: var(--br7) var(--br7) var(--br7) var(--br7);
}

.text-container-long {
  display: flex;
  width: var(--w7);
  height: var(--h7);
  align-items: center;
  justify-content: flex-end;
  background: var(--c3);
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: var(--fw7);
  font-size: var(--fs7);
  line-height: var(--lh7);
  color: var(--c4);
  margin: auto;
  border-radius: var(--br7) var(--br7) var(--br7) var(--br7);
}

.price-long {
  margin-right: var(--m_e_2);
}

.small-text-long {
  margin-right: var(--m_e_2);
}

.detail-container {
  margin-top: var(--m_e_1);
}

.positive {
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: var(---fw7);
  font-size: var(--fs8);
  line-height: var(--lh8);
  color: var(--c5);
}

.negative {
  font-family: "Tomorrow";
  font-style: normal;
  font-weight: var(---fw7);
  font-size: var(--fs8);
  line-height: var(--lh8);
  color: var(--c6);
}

.card {
  background-image: url("./assets/images/background_image.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: var(--h9);
  width: var(--w9);
  margin-top: var(--m9);
  margin-left: auto;
  margin-right: auto;
}

/* 
##################
# TOUCH DISPLAYS #
################## 
*/

@media screen and (min-width: 429px) {
  :root {
    /* DIMENSION */

    /* coin-logo-container-1 */
    --p1: 4.306vw; /* 0.125 * var(--h9) */
    --br1: 8.612vw; /* 2 * var(--p1)*/

    /* coin-logo-container-2 */
    --p2: 2.075vw; /* 0.083 * var(--w9) */
    --br2: 4.15vw; /* 0.166 * var(--w9) */

    /* coin-image */
    --w3: 4.306vw; /* 0.125 * var(--h9) */

    /* picks-container */
    --w4: 10.525vw; /* 0.421 * var(--w9) */
    --h4: 3.445vw; /* 0.1 * var(--h9) */
    --br4: 6.89vw; /* 2 * var(--h4) */

    /* property-tag */
    --fw5: 600;
    --fs5: 1.034vw; /* 0.03 * var(--h9) */
    --lh5: 2.584vw; /* 0.075 * var(--h9) */

    /* picks */
    --w6: 1.895vw; /* 0.055 * var(--h9) */

    /* text-container-1 */
    --fw7: 600;
    --fs7: 1.378vw; /* 0.04 * var(--h9) */
    --lh7: 2.584vw; /* 0.075 * var(--h9) */
    --w7: 20.75vw; /* 0.83 * var(--w9) */
    --h7: 3.45vw; /* 0.1 * var(--h9) */
    --br7: 6.89vw; /* 2 * var(--h7) */

    /* positive negative */
    --fw8: 600;
    --fs8: 1.034vw; /* 0.03 * var(--h9) */
    --lh8: 2.584vw; /* 0.075 * var(--h9) */

    /* card */
    --h9: 34.45vw; /* indepedent parameter */
    --w9: 25vw; /* indepedent parameter */
    /* --m9: 13.1325vw; */

    /* COLORS */
    --C1: rgba(20, 23, 43, 1); /* general-background */
    --C2: rgba(115, 123, 174, 1); /* font for property-value-tags */
    --c3: rgba(20, 23, 43, 1); /* background for cutouts */
    --c4: rgba(236, 240, 255, 1); /* font for big text */
    --c5: rgba(0, 255, 163, 1); /* font for positive change */
    --c6: rgba(255, 77, 77, 1); /* font for negative change */

    /* EXTRA PARAMS */
    --m_e_1: 1.723vw; /* 0.05 * var(--h9) */
    --m_e_2: 0.425vw; /* 0.017 * var(--w9) */

    /* card-container */
    --g10: 4.892vw;
    --p10: 4.892vw;
  }

  .card {
    margin: 0;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: var(--g10);
    padding: var(--p10);
  }
}

/* 
#####################
# COMPUTER DISPLAYS #
##################### */

@media screen and (min-width: 1025px) {
  :root {
    /* DIMENSION */

    /* coin-logo-container-1 */
    --p1: 2.869vw; /* 0.125 * var(--h9) */
    --br1: 5.738vw; /* 2 * var(--p1)*/

    /* coin-logo-container-2 */
    --p2: 1.383vw; /* 0.083 * var(--w9) */
    --br2: 2.766vw; /* 0.166 * var(--w9) */

    /* coin-image */
    --w3: 2.869vw; /* 0.125 * var(--h9) */

    /* picks-container */
    --w4: 7.014vw; /* 0.421 * var(--w9) */
    --h4: 2.295vw; /* 0.1 * var(--h9) */
    --br4: 4.59vw; /* 2 * var(--h4) */

    /* property-tag */
    --fw5: 600;
    --fs5: 0.689vw; /* 0.03 * var(--h9) */
    --lh5: 1.721vw; /* 0.075 * var(--h9) */

    /* picks */
    --w6: 1.262vw; /* 0.055 * var(--h9) */

    /* text-container-1 */
    --fw7: 600;
    --fs7: 0.918vw; /* 0.04 * var(--h9) */
    --lh7: 1.721vw; /* 0.075 * var(--h9) */
    --w7: 13.828vw; /* 0.83 * var(--w9) */
    --h7: 2.95vw; /* 0.1 * var(--h9) */
    --br7: 5.9vw; /* 2 * var(--h7) */

    /* positive negative */
    --fw8: 600;
    --fs8: 0.689vw; /* 0.03 * var(--h9) */
    --lh8: 1.721; /* 0.075 * var(--h9) */

    /* card */
    --h9: 22.95vw; /* indepedent parameter */
    --w9: 16.66vw; /* indepedent parameter */
    /* --m9: 13.1325vw; */

    /* COLORS */
    --C1: rgba(20, 23, 43, 1); /* general-background */
    --C2: rgba(115, 123, 174, 1); /* font for property-value-tags */
    --c3: rgba(20, 23, 43, 1); /* background for cutouts */
    --c4: rgba(236, 240, 255, 1); /* font for big text */
    --c5: rgba(0, 255, 163, 1); /* font for positive change */
    --c6: rgba(255, 77, 77, 1); /* font for negative change */

    /* EXTRA PARAMS */
    --m_e_1: 1.418vw; /* 0.05 * var(--h9) */
    --m_e_2: 0.283vw; /* 0.017 * var(--w9) */

    /* card-container */
    --g10: 1.629vw; /* 0.071 * var(--h9) */
    --p10: 1.629vw; /* 0.071 * var(--h9) */
  }

  .card {
    margin: 0;
  }

  .small-text {
    position: relative;
    left: 73%;
    bottom: 35%;
    width: 7ch;
  }

  .price {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 10%;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: var(--g10);
    padding: var(--p10);
  }
}
